@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
}

/** font-family: 'Shrikhand', cursive; **/
body {
  margin: 0;
}

#spinner {
  position: fixed;
  background-color: grey;
  -webkit-animation: spinner ease-in 1.5s;
          animation: spinner ease-in 1.5s;
  height: 0%;
  width: 100%;
  opacity: 0;
  top: 0;
  right: 0;
}

@-webkit-keyframes spinner {
  0% {
    opacity: 100%;
  }
  1% {
    height: 100%;
    opacity: 100%;
    z-index: 1000;
  }
  50% {
    opacity: 100%;
    z-index: 1000;
  }
  75% {
    opacity: 75%;
    z-index: 1000;
  }
  99% {
    opacity: 40%;
    z-index: 1000;
    height: 100%;
  }
  100% {
    opacity: 0%;
    height: 0%;
  }
}

@keyframes spinner {
  0% {
    opacity: 100%;
  }
  1% {
    height: 100%;
    opacity: 100%;
    z-index: 1000;
  }
  50% {
    opacity: 100%;
    z-index: 1000;
  }
  75% {
    opacity: 75%;
    z-index: 1000;
  }
  99% {
    opacity: 40%;
    z-index: 1000;
    height: 100%;
  }
  100% {
    opacity: 0%;
    height: 0%;
  }
}

#spinner i {
  position: relative;
  top: 50%;
  left: 49%;
  font-size: 40px;
  color: #f6f6f6;
  -webkit-animation: spinBurger 1.5s linear infinite;
          animation: spinBurger 1.5s linear infinite;
}

@-webkit-keyframes spinBurger {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes spinBurger {
  100% {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

#logoContainer {
  text-align: center;
}

#logoContainer a {
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}

#logoContainer img {
  width: 50%;
  padding: 0.75em;
}

header {
  text-align: center;
  z-index: 1002;
  background-color: #f6f6f6;
}

header #localisation {
  background-color: #eaeaea;
  padding: 1em;
}

header #localisation i {
  font-size: 20px;
  color: #353535;
  margin-right: 1em;
}

header #localisation input {
  background-color: #eaeaea;
  border: none;
  min-height: 40px;
}

header #localisation input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: #353535;
}

header #localisation input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: #353535;
}

header #localisation input::-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: #353535;
}

header #localisation input::placeholder {
  font-size: 20px;
  font-weight: bold;
  color: #353535;
}

header #subHeader {
  margin: 1em;
  padding: 0.5em;
  padding-bottom: 3em;
}

header #subHeader button {
  margin-top: 1em;
}

header #subHeader h2 {
  font-weight: 900;
  margin-bottom: 0.5em;
}

header #subHeader h3 {
  color: #656565;
  font-weight: 400;
  margin: 0.4em;
}

#fonctionnement {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fonctionnement h2 {
  margin-bottom: 1.5em;
}

#fonctionnement ul {
  padding: 0;
  width: 95%;
  margin-left: 1em;
}

#fonctionnement li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5em;
  border: none;
  border-radius: 25px;
  height: 75px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#fonctionnement li span {
  border-radius: 30px;
  background-color: #9356DC;
  width: 8px;
  height: 8px;
  color: white;
  padding: 0.75em;
  line-height: 10px;
  margin: auto;
  margin-left: -1.5em;
  margin-right: 0;
}

#fonctionnement li h3 {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
}

#fonctionnement li i {
  font-size: 20px;
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  color: #7e7e7e;
}

#fonctionnement li:hover {
  background-color: #f5edff;
}

#fonctionnement li:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #f6f6f6;
}

#restaurants h2 {
  margin: 1em;
}

#restaurants div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants div .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 2em;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

#restaurants div .card a {
  width: 100%;
  margin: 0;
}

#restaurants div .card a img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants div .card h3 {
  margin: 0.75em;
  margin-bottom: 0;
}

#restaurants div .card p {
  margin: 0.75em;
  margin-bottom: 1em;
  font-weight: 300;
  margin-top: 0.25em;
}

#restaurants div .card #toggle-heart, #restaurants div .card #toggle-heart1, #restaurants div .card #toggle-heart2, #restaurants div .card #toggle-heart3 {
  position: absolute;
  right: 15px;
  bottom: 20px;
  opacity: 0;
  z-index: 1000;
  height: 25px;
}

#restaurants div .card #toggle-heart + label .fullHeart, #restaurants div .card #toggle-heart1 + label .fullHeart, #restaurants div .card #toggle-heart2 + label .fullHeart, #restaurants div .card #toggle-heart3 + label .fullHeart {
  display: none;
}

#restaurants div .card #toggle-heart:checked + label .emptyHeart, #restaurants div .card #toggle-heart1:checked + label .emptyHeart, #restaurants div .card #toggle-heart2:checked + label .emptyHeart, #restaurants div .card #toggle-heart3:checked + label .emptyHeart {
  display: none;
}

#restaurants div .card #toggle-heart:checked + label .fullHeart, #restaurants div .card #toggle-heart1:checked + label .fullHeart, #restaurants div .card #toggle-heart2:checked + label .fullHeart, #restaurants div .card #toggle-heart3:checked + label .fullHeart {
  color: #9356DC;
  display: block;
}

#restaurants div .card .emptyHeart, #restaurants div .card .fullHeart {
  position: absolute;
  right: 15px;
  bottom: 20px;
  font-size: 23px;
}

#restaurants div .card span {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99E2D0;
  padding: 0.5em;
  font-weight: bold;
  color: #008766;
  border-radius: 5px;
}

footer {
  background-color: #353535;
  margin: 0;
  padding: 0;
}

footer ul {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

footer li {
  color: white;
  margin: 1em;
}

footer li i {
  color: white;
  margin-right: 1em;
}

#logoFooter {
  width: 100px;
  color: white;
}

/** Page Menu **/
#menuFr {
  background-image: url(../img/français.jpg);
}

#menuPalette {
  background-image: url(../img/palette.jpg);
}

#menuEnchanté {
  background-image: url(../img/note.jpg);
}

#menuDélice {
  background-image: url(../img/délice.jpg);
}

.menu {
  background-position: top;
  background-size: 400px;
  padding-top: 200px;
}

.menu .menuContaniner > h4 {
  padding: 0.3em;
  padding-left: 0;
  border-bottom: 3px solid #99E2D0;
  width: 10%;
}

.menu .menuContaniner {
  padding-top: 1em;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.menu .menuContaniner h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  margin: 1em;
}

.menu .menuContaniner h2 i {
  float: right;
}

.menu .menuContaniner h4 {
  font-weight: 300;
  margin: 1em;
}

.menu .menuContaniner ul {
  padding: 1em;
}

.menu .menuContaniner ul li {
  position: relative;
  border-radius: 20px;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 100px;
  white-space: nowrap;
  -webkit-animation: fadeIn ease 2s;
          animation: fadeIn ease 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.menu .menuContaniner ul li .titleMenu {
  width: 80%;
}

.menu .menuContaniner ul li .titleMenu h4 {
  margin: 0.75em;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menuContaniner ul li .titleMenu p {
  margin-left: 0.75em;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu .menuContaniner ul li .subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menuContaniner ul li .subMenu span {
  text-align: left;
  font-weight: 600;
  margin: 1em;
  margin-top: 80%;
}

.menu .menuContaniner ul li .check {
  width: 70px;
  background-color: #99E2D0;
  position: absolute;
  right: -100px;
  height: 100%;
}

.menu .menuContaniner ul li:hover .titleMenu {
  width: 65%;
}

.menu .menuContaniner ul li:hover .subMenu span {
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu .menuContaniner ul li:hover .subMenu p {
  white-space: pre;
  overflow: hidden;
}

.menu .menuContaniner ul li:hover .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99E2D0;
  opacity: 1;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu .menuContaniner ul li:hover .check i {
  font-size: 25px;
  margin: auto;
  color: white;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transition: -webkit-transform 0.75s;
  transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  transition: transform 0.75s, -webkit-transform 0.75s;
}

.btnContainerCommander {
  text-align: center;
  width: 100%;
  margin-top: 1em;
  padding-bottom: 3em;
}

.btn {
  color: white;
  border-radius: 30px;
  padding: 1em;
  font-size: 17px;
  background-color: #9356DC;
  border: 0px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  min-width: 25%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 820px) {
  #menuFr, #menuPalette, #menuEnchanté, #menuDélice {
    background-size: 100%;
    background-position: bottom;
  }
  #logoContainer img {
    width: 20%;
  }
  #restaurants {
    padding: 1em;
  }
  #restaurants div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #restaurants div .card {
    width: 25%;
    margin: 1em;
  }
  #restaurants div .card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 400px) {
  .check {
    width: 40px !important;
  }
  .menuContaniner ul li .titleMenu {
    width: 75% !important;
  }
  .menuContaniner ul li:hover .titleMenu {
    width: 55% !important;
  }
  .menuContaniner ul li:hover .subMenu span {
    -webkit-transform: translateX(-40px) !important;
            transform: translateX(-40px) !important;
  }
}
/*# sourceMappingURL=style.css.map */